#reg {
  background: linear-gradient(rgba(86, 86, 114, 0.5), rgba(86, 86, 114, 0.5)),
    url(./bulb.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#login {
  background: linear-gradient(rgba(86, 86, 114, 0.5), rgba(86, 86, 114, 0.5)),
    url(./beach.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

#home {
  background: linear-gradient(rgba(86, 86, 114, 0.5), rgba(86, 86, 114, 0.5)),
    url(./home_back.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.login-box {
  max-width: 700px;
  float: none;
  margin: 150px auto;
}

.login-left {
  background-color: rgba(211, 211, 211, 0.5);
  padding: 30px;
}

.form-control {
  background-color: transparent !important;
}
.form-check-input {
  /* background: transparent !important; */
  opacity: 0.5;
}
h2 {
  text-align: center;
  margin-bottom: 3%;
}

h1 {
  color: #fff !important;
  opacity: 0.5;
  text-align: center;
}
